html, body, #root, #root-container {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.filter-box {
	float: left;
	display: inline-block;
	width: 250px;
	padding-right: 30px;
}

.filter-box li {
	list-style: none;
}

.graph-box {
	float: left;
	display: inline-block;
}